name: Deploy to server

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy on server
        run: |
          set -e

          # 1) kod na serveru
          cd /home/leonardo/MyApp
          git pull origin main

          # 2) publish backend
          cd /home/leonardo/MyApp/MyApp
          dotnet publish -c Release -o /home/leonardo/myapp-backend-publish

          sudo mkdir -p /var/www/myapp-backend
          sudo rm -rf /var/www/myapp-backend/*
          sudo cp -r /home/leonardo/myapp-backend-publish/* /var/www/myapp-backend/

          # 3) build frontend
          cd /home/leonardo/MyApp/myapp-frontend
          npm install
          npm run build

          sudo mkdir -p /var/www/myapp
          sudo rm -rf /var/www/myapp/*
          sudo cp -r build/* /var/www/myapp/

          # 4) restart backend + nginx
          sudo systemctl restart myapp
          sudo systemctl reload nginx
